{% extends "base.html" %}

{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">{{ title }}</h1>

    <link rel="stylesheet" href="/static/css/tom-select.default.css">
    <script src="/static/js/tom-select.complete.js"></script>
    <script src="/static/js/tom-select.js"></script>

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.work.label(class="form-label") }}
            {{ form.work(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control", autofocus=True) }}
        </div>

        <div class="form-group">
            {{ form.owner.label(class="form-label") }}
            {{ form.owner(class="form-control", placeholder="Search owners...") }}
        </div>

        <div class="form-group">
            {{ form.condition.label(class="form-label") }}
            {{ form.condition(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.lended_to.label(class="form-label") }}
            {{ form.lended_to(class="form-control") }}
        </div>
        
        <div class="form-actions">
            {{ form.submit(class="button button-primary") }}
            <a href="{{ url_for('books.work_list') }}" class="button button-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}